body {
  background-color: rgb(21,21,21);
  height:100%;
  font-family: 'Roboto';
  color: white;
  margin:0;
}

input {
  font-family: 'Roboto';
  font-size: 18px;
  outline: 0;
  color: white;
  margin-top: 2%;
  margin-left: 25%;
  padding-left: 10px;
  width:50%;
  height:30px;
  background-color: rgb(50,50,50);
  border: 0;
  border-radius: 10px;
}

#results {
  margin: 4%;
}

.result {
  margin-top: 5px;
  padding: 5px;
  background-color: rgb(50,50,50);
  border-radius: 5px;
}

.elt {
  margin-left: 8px;
}

button {
  outline: 0;
  padding: 5px;
  color: white;
  background-color: rgb(50,50,50);
  border: 2px solid white;
  border-radius: 10px;
}

.dl {
  border: 2px solid #FFA000;
  color: #FFA000;
}

.play{
  border: 2px solid #64DD17;
  color: #64DD17;
}
.add{
  font-weight: bolder;
  border: 2px solid #F50057;
  color: #F50057;
}

#player {
  margin:0;
  font-size: 38px;
  text-align: center;
  position: fixed;
  bottom:0;
  width:100%;
  height:100px;
  background:rgb(50,50,50);
}

#timebar {
  border-radius: 3px;
  height: 10px;
  width: 40%;
  border: 1px solid rgb(21,21,21);
  display: inline-block;
}

.controls-elt {
  margin-right: 5px;
}

#playlist {
  height: 760px;
  width: 30%;
  background-color: rgb(20,20,20);
  border-left: 3px solid rgb(40,40,40);
  right: 0;
  position: fixed;
}
li {
  background-color: rgb(40,40,40);
  margin-top: 2px;
  font-size: 12px;
  list-style: none;
  padding-left: 3%;
}
ol {
  padding-left: 0;
  margin-left: 0;
}
